# Node
**/node_modules/
**/.env
**/.env.*
**/dist/
**/.vite/

# Prisma / logs
**/*.log

# Kubernetes / tooling
**/.DS_Store

# k3d/kube
.kube/

# Optional: local test artifacts
test-results/

#istio
**/istio-1*
scripts/deploy-loadtest.sh
scripts/deploy-shelfware.sh
INFRA/kustomize/shelfware/base/db/postgres-secret.yaml
INFRA/argocd/github-repo-secret.yaml
