apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: opencost

helmCharts:
  - name: opencost
    repo: https://opencost.github.io/opencost-helm-chart
    version: "1.43.0"
    releaseName: opencost
    namespace: opencost
    valuesInline:
      opencost:
        exporter:
          defaultClusterId: "k3d-shelfware-app"
          persistence:
            storageClassName: "local-path"
          prometheus:
            serverEndpoint: "http://monitoring-stack-kube-prom-prometheus.monitoring.svc.cluster.local:9090"
        metrics:
          insertionMethod: Prometheus
          serviceMonitorEnabled: true
      prometheus:
        server:
          enabled: false
      serviceAccount:
        create: true
