apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: monitoring

resources:
  - helm-manifests.yaml
  - servicemonitor.yaml
  - grafana-dashboard.yaml

# Disable default namespace annotation to avoid conflict
commonLabels:
  app.kubernetes.io/managed-by: argocd
