apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: monitoring

resources:
  - helm-manifests.yaml
  - servicemonitor.yaml
  - grafana-dashboard.yaml

labels:
  - includeSelectors: true
    pairs:
      app.kubernetes.io/managed-by: argocd
